 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
 }

 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     padding: 20px;
 }

 .image {
     position: relative;
     text-align: center;
 }

 .image img {
     max-width: 500px;
     border-radius: 8px;
 }

 .back,
 .next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     border: none;
     padding: 10px;
     border-radius: 50%;
     cursor: pointer;
     outline: none;
 }

 .back {
     left: -50px;
 }

 .next {
     right: -50px;
 }